<div class="container border-bottom mb-3">
    <div class="row p-md-3">
        <span class="h1 col-4 offset-4 text-nowrap text-center">About us</span>
    </div>
</div>

<div class="container p-3">
    <h2>About Share2Go</h2>
    <p>The Share2Go development team strives to help hard working commuters to travel in the city.  We offer the hard-working people to save money from Taxis and a safer way of transportation by allowing the customers to drive themselves as most may feel more comfortable driving themselves. That idea has led the team to create Share2Go, a fast and affordable way to rent and go.</p>
    <p>Share2Go is an online application for care share schemes. Users of the scheme can book and rent a car for a period time within the city location. The system allows the customers to easily travel around the city without having to purchase a car. 
    </p>
    <h2>Leadership</h2>
    <p>Bill: Lead Software Engineer/Project leader. <br>
    Bill leads the development team and its weekly operations. Bill is passionate about programming and efficient processes.</p>
    <h2>Team</h2>
    <p>
    Leon: Software Engineer, Tester<br>
    Quan: Senior Software Engineer<br>
    Gavin: Front-end Engineer, GUI designer<br>
    Kevin: Front end Engineer, Tester<br>
    </p>
</div>