<div class="container border-bottom">
    <div class="row p-md-3">
        <span class="h1 col-4 offset-4 text-nowrap text-center">FAQs</span>
    </div>
</div>


<div class="container">
  <div class="accordion mt-4" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Is an account required?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        To rent and use the car, Share2Go requires you to create an account with your details including Name, Mobile phone, License and Credit card number.      </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I rent a car?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
        With your registered account, you simply go into the car’s page and click on the Booking button. Once you clicked, follow the instruction on the page to successfully rent a car.      </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How long am I able to rent a car for?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
        You can rent a car for a maximum of one week per booking.      </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What do I do If I accidentally damage the rented car?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
        During your rent with the car, on the return car page, there is a link labelled report car, where you can fill in a report form on the damaged car or you can call the support center for further help.      </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Where do I park when I am finished with my car rent?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
        On your online application, follow the instruction on the return page and it will guide you to park at a certain city spot accordingly.      </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How do I find the location of the car?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
        On the online application, there is a google map that leads to the location of the rented car.      </div>
      </div>
    </div>
  </div>
</div>