// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.anchor{
    text-decoration: underline;
}
.anchor:hover{
    background-color:rgba(1,1,1,0);
    color:#000000;
}