<div class="container border-bottom mb-3">
    <div class="row p-md-3">
        <span class="h1 col-12 text-nowrap text-center">New location</span>
    </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
