<div class="container border-bottom mb-3">
    <div class="row p-md-3">
        <span class="h1 col-12 text-nowrap text-center">Top Up</span>
    </div>
</div>

<div class="container">
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Top Up Amount:</span>
        <input type="number" name="amount" ></input><br><br>
        <input id="top_up_10" name="amount" type="radio" value="10"> $10</input>
        <input id="top_up_20" name="amount" type="radio" value="20"> $20</input>
        <input id="top_up_50" name="amount" type="radio" value="50"> $50</input>
        <input id="top_up_100" name="amount" type="radio" value="100"> $100</input>
        <input id="top_up_200" name="amount" type="radio" value="200"> $200</input>
        <input id="top_up_500" name="amount" type="radio" value="500"> $500</input>
        <input id="top_up_1000" name="amount" type="radio" value="1000"> $1000</input>
        <input id="top_up_2000" name="amount" type="radio" value="2000"> $2000</input>
        <input id="top_up_5000" name="amount" type="radio" value="5000"> $5000</input>
      </label>
    </article>
    <br>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Credit Top Up"
      data-amount="<%= @amount %>"
      data-locale="auto">
    </script>
  <% end %>
</div>